<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jam2in.spring.boot.sample.repository.MovieRepository">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO movie (movName, movYear, movLang)
        VALUES (#{movName}, #{movYear}, #{movLang})
    </insert>

    <update id="update">
        UPDATE movie
        SET movName = #{movie.movName}, movYear = #{movie.movYear}, movLang = #{movie.movLang}
        WHERE id = #{id}
    </update>

    <delete id="delete">
        DELETE FROM movie
        WHERE id = #{id}
    </delete>

    <select id="select" resultType="com.jam2in.spring.boot.sample.dto.MovieDto">
        SELECT *
        FROM movie
        WHERE id = #{id}
    </select>

    <select id="selectByIdAndName" resultType="com.jam2in.spring.boot.sample.dto.MovieDto">
        SELECT *
        FROM movie
        WHERE id = #{id} AND movName = #{movName} <!-- AND movYear = #{movie.movYear} AND movLang = #{movie.movLang} -->
    </select>

    <select id="selectAll" resultType="com.jam2in.spring.boot.sample.dto.MovieDto">
        SELECT *
        FROM movie
        <where>
            <if test="movName != null and movName != '' ">
                AND movie.movName = #{movName}
            </if>
            <if test="movYear != null and movYear != '' ">
                AND movie.movYear like #{movYear}
            </if>
            <if test="movLang != null and movLang != '' ">
                AND movie.movLang like #{movLang}
            </if>
        </where>
    </select>

</mapper>
