<!DOCTYPE html>
<!--suppress HtmlUnknownAttribute -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>MOVIE</title>
  <style>
    body {
      background-color: #ffffff;
      width: 100%;
      text-align: center;
    }

    form {
      margin: auto;
    }
  </style>
</head>
<body>
  <h1>Add A New Movie To The List</h1>
  <form method="post" action="/movies/create.do">
    <table align="center" border="none">
      <tr style="color: black; font-size:20px;">
        <td style="background-color:#A4C5D2">Title</td> <td><input name="movName" size="50" type="text" required /></td>
      </tr>
      <tr style="color: black; font-size:20px;">
        <td style="background-color:#A4C5D2">Year</td> <td><input name="movYear" size="50" type="number" required /></td>
      </tr>
      <tr style="color: black; font-size:20px;">
        <td style="background-color:#A4C5D2">Language</td> <td><input name="movLang" size="50" type="text" required /></td>
      </tr>
    </table>
    <p><button style="color:white; background-color:green; float:center" type="submit"> Submit </button></p>
  </form>
 </body>
</html>
