<!DOCTYPE html>
<!--suppress HtmlUnknownAttribute -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>MOVIE</title>
</head>
<body style="background-color: #ffffff;">
<h1 align="center"> All Time Best 100+ Movie List</h1>
  <table align="center" style="text-align: left; font-size: 18px;">
      <thead>
      <tr style="color: black; font-size:20px;">
          <th bgcolor= #A4C5D2 width="50">No.</th>
          <th bgcolor= #A4C5D2 align="center" width="500">Title</th>
          <th bgcolor= #A4C5D2 align="center" width="50">Year</th>
          <th bgcolor= #A4C5D2 align="center" width="100">Language</th>
      </tr>
      </thead>
      <tbody bgcolor= #EDF5F5>
        <tr th:each="movie: ${movies}">
            <td th:text="${movie.id}">&nbsp;</td>
            <td th:text="${movie.movName}">&nbsp;</td>
            <td align="center" th:text="${movie.movYear}">&nbsp;</td>
            <td align="right" th:text="${movie.movLang}">&nbsp;</td>
      </tbody>
  </table>
 </body>
</html>